:host {
   display: flex;
   padding: 0 1.6rem;
   position: fixed;
   bottom: 0;
   background: white;
   width: 100%;
   box-shadow: 0px 0px 6px -2px #acacac;

   .item {
      padding: 1.6rem;
      cursor: pointer;
      color: #373737;
      text-decoration: none;
   }

   .active {
      background-color: #f6f6f6;
      color: #6ba027;
   }
}
