input {
   width: 100%;
   color: #252525;
   background-color: #f6f6f6;
   border: 0.1rem solid #f6f6f6;
   height: 3.2rem;
   font-weight: normal;
   line-height: 3.2rem;
   font-size: 1.4rem;
   border-radius: 4px;

   outline: 0;
   margin: 0;
   padding: 0 0.8rem;
   text-align: left;

   &::placeholder {
      color: #b0b0b0;
      font-weight: 100;
   }

   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
   }
}

.stat-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 0px 0px;
   margin: 1rem;

   .stat-card {
      min-width: 10rem;
      margin-top: 3rem;

      .stat-value {
         font-size: 3rem;
         font-weight: 100;
         line-height: 3rem;
      }

      .stat-title {
         color: #b3b3b3;
         font-size: 1rem;
      }
   }
}
