/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html {
   font-family: 'Open Sans';
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   height: 100%;
   width: 100%;
   font-size: 62.5%;
   margin: 0;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   text-decoration: none;
}

.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
   display: block;
}

body {
   margin: 0;
   font-family: 'Open Sans', 'Lora';
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: white;
   height: 100%;
}

h1 {
   font-size: 3rem;
   line-height: 30px;
}
h2 {
   font-size: 2.5rem;
   line-height: 30px;
}
h3 {
   font-size: 2rem;
   line-height: 30px;
}
h4 {
   font-size: 1.8rem;
   line-height: 2rem;
}
h5 {
   font-size: 1.5rem;
   line-height: 2rem;
}

p {
   font-size: 1.4rem;
}
.subtitle {
   font-size: 1.1rem;
}